@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
   
}

/*menu start*/

  ul {
    list-style: none;
  }

  a{
    text-decoration: none;
  }

/* header start */
 #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    /*background-color: black;*/
    background: rgb(0, 0, 0, 0.8)
}

  #navbar img{
    width: 100px;
    margin-left: 0px;
  }

  #navbar ul{
    display: flex;
    margin-right: 0px;
  }

  #navbar ul li a{
    padding: 5px 15px;
    color: white;
    font-weight: 600;
    font-size:small;
  }

  #navbar ul li a:hover{
    border-bottom: 3px solid green;
  }

  
  /* header end */
  
  /*menu end*/

#skin-care{
    background: rgba(128, 128, 128, 0.858);
    padding: 2rem 0;
}
#skin-care .title {
    text-align: center;
    margin-bottom: 4rem;
    font-style: quick sand;
}
#skin-care h1{
font-size: 50px;
margin-bottom: 20px;
font-style: quick sand;
}
#skin-care h1 {
    color: #0a0a15;
}
#skin-care .title p {
    font-size: 24px;
    font-weight: 300;
    color: #09080e;
    font-style: quick sand;

}

#skin-care .products {
    display: flex;
    justify-content: center;
}


#skin-care .products .product img {
width: 200px;
border-radius: 25%;
margin-right: 30PX;
}
#skin-care .products .product {
    font-size: 20PX;
    margin: 100PX;
    font-style: quick sand;
}
 #boycott {
    color: #932d2d;
    font-size: larger;
    font-style: quick sand;
}
 #substitution {
    color: #1f6920;
    font-size: larger;
    font-style: quick sand;
}